.DS_Store
__pycache__
.venv/

*.npy
*.pth

experiments/CharSeg/protetypes/ETLdatasets/
experiments/CharSeg/CharSeg

photos/sample/
photos/catched/
photos/cells/
photos/chars/

optuna_log.txt
*.log
*.db