--extra-index-url https://download.pytorch.org/whl/cpu

numpy==1.26.4
scipy==1.11.4
scikit-image

torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2

optuna

opencv-python==4.9.0.80
tqdm
matplotlib==3.8.4
requests==2.31.0
python-Levenshtein==0.25.1